:root {
    --color-primary: #13293d;
    --color-secondary:#e8f1f2;
    --color-tertiary: #8b8b8b;
    --color-header-footer: #191919;
    }
    
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #13293d;

}

.card {
    box-shadow: 1px 1px 5px #ccc;
    background-color: #e8f1f2;
    padding: 30px;
    border-radius: 5px;
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card-top {
    text-align: center;
}

.card-group {
    margin-bottom: 10px;
}

.imglogin {
    border-radius: 50px;
    width: 100px;
    box-shadow: 10px 10px 5px #ccc;
    margin-bottom: 10px;
}

.imglogo {
    width: 100px;
}

.title {
     color: #13293d;
}

.card-group>label {
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.card-group>input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group>button {
    background-image: linear-gradient(to right, #004D69, rgb(78, 78, 221));
    border-radius: 30px;
    width: 100%;
    color: #ccc;
    padding: 15px;
    border: 0px;
    outline: 0;
    margin-top: 5px;
}

.btn button:hover {
    background-image: linear-gradient(to right, #24207f, rgb(57, 57, 151));
}

.footer-container {
    width: 100%;
    margin-top: 50px;
}

.footer-link {
    margin: 10px;
}

.footer-link ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 12px;
    margin: 0 auto;
}

.footer-link li {
    margin: 0px 20px 5px 0px;
}

.footer-link a {
    text-decoration: none;
    color: #e8f1f2;
}

.footer-link a:hover {
    text-decoration: underline;
}

.border {
    border-bottom: 1px solid #ccc;
}

.footer-link .active {
    color: #e8f1f2;
    text-decoration: none;
}

.footer-link.border {
    display: table;
    margin: 0 auto;
}

.footer2 {
    background-color: var(--color-header-footer);
    color: var(--color-secondary);
    text-align: center;
    padding: 40px;
    font-size: 12px;
    width: 100%;
    position:absolute;
    bottom: 0;
 }