:root {
    --color-primary: #13293d;
    --color-secondary:#e8f1f2;
    --color-tertiary: #8b8b8b;
    --color-header-footer: #191919;
    }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.homepage {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary);
   
}

.header-1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: right;
    background-color: var(--color-header-footer);
    box-shadow: 0 0 30px black;
    top: 0;
    width: 100vw;
    padding: 0 20px;

}

.logo{
    padding:10px;
    color: var(--color-secondary);
}

.header-1 .logo span:first-child {
    letter-spacing: -3px;
    color:#1d52ff;
    margin-left: 5px;
    font-weight: bold;
}

 .header-1 .logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
  
}

.busca {
    text-align: center;
}

.busca input {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 96%;   
    height: 20px;
    width: 300px;
    padding: 15px;
    border: 1px solid var(--color-tertiary);
}

.busca input:focus {
    outline:none;  
}

.users {

    color: var(--color-secondary);
}

.header-2 {
    padding-top: 40px;
}

.header-2 .navbar{ 
    text-align: center;
}


.header-2 .navbar ul li {
    display:inline-block;
    margin-left: 18px;
    height: 50px;
}



.navbar ul li a:hover{
    color:var(--color-primary);
  
}

.navbar ul li:hover{
    border-bottom: 3px solid var(--color-primary);
}

/*li:nth-child(4) {
    pointer-events: none;
}*/

.navbar ul li a {
    color: var(--color-tertiary);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
}

 /*SUBMENU*/ 

.submenu {
    display:none;
    color: var(--color-secondary);
    position:absolute;
    top: 56px;
    left: 0;
    background: #1d52ff;
    min-width: 100%;
    text-align:center;
}


.header-2 > li:hover > .submenu, .submenu > li:hover > .submenu {
   background-color: red;
}

li {
    text-decoration: none;
}

.submenu li:hover {
    background: black;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}


button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 46%;
    left: 5%;
    background-image: url('../img/flechaE.png');
    cursor: pointer;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 46%;
    right: 5%;
    background-image: url('../img/flechaD.png');
    cursor: pointer;
}


.slick-dots li button {
    background: transparent;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    font-size: 0px;
    cursor: pointer;
    height: 36px;
    width: 36px;
} 


li.slick-active button {
    background: var(--color-tertiary);  
}



.slick-dots li {
    display: inline-block;
    padding: 10px;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 630px;
}

.slick-initialized {
    overflow: hidden; /* arrumar do scroll */
}

/* SECTION 2 */
.about {
    background: var(--color-primary);
    width: 100vw;
    height: 100vh;    
}

.about .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.about .timing {  
    width: 33%;
    padding: 20px;
    top: 10px;
    position: relative;
    top: -10px;
}

.about .timing .overlay {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 30px 20px;
    padding-bottom: 150px;
    margin-left: 110px;;

    
}

.about .timing h3 {
    color: var(--color-secondary);
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto 30px auto;
    font-size: 30px;
    
}

.about .timing .text h4 {
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 15px;
}

.about .timing span {
    color: var(--color-secondary);
    font-size: 15px;
    display: block;
}

.about .timing .text {
    margin: 10px 0;
}

.about .timing .text:after {
    content: '•';
    font-size: 25px;
    display: block;
    margin-top: 10px;
    color: var(--color-secondary);  
}

.about .timing .text:last-of-type:after {
    content: '|'; 
       }

.about .experience {
    width: 66%;
    color: var(--color-secondary);
    margin-left: 7%;
    margin-top: 100px;
    
}

.about .experience h2 {
    font-weight: 400;
    font-size: 50px;
}


.about .experience h2:after {
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    background-color:  var(--color-header-footer);
    margin: 20px 0;
}

.about .experience .text {
    justify-content: space-between;
    display: flex;
}

.about .experience .text p {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 17px;
    width: 75%;
    color: var(--color-secondary);
}

.btn {
    background-image: linear-gradient(to right, #004D69, rgb(78, 78, 221));
    border-radius: 30px;
    width: 10%;
    color: var(--color-secondary);
    padding: 15px;
    border: 0px;
    outline: 0;
    margin-top: 5px;
    cursor: pointer;

}

.btn:hover {
    background-image: linear-gradient(to right, #24207f, rgb(57, 57, 151));
}

.slider-principal img {
    width: 20px;
}

.instructions {
    position: absolute;
    right: 10px;
    background-color: var(--color-primary);
    font-weight: bold;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 10px;
    
 }

 .btn-instructions {
    float:right;
    background-image: linear-gradient(to right, #004D69, rgb(78, 78, 221));
    border-radius: 30px;
    width: 30%;
    color: var(--color-secondary);
    padding: 15px;
    border: 0px;
    outline: 0;
    margin-top: 30px;
    cursor: pointer;
    
 }
 
 .instructions button:hover {
    background-image: linear-gradient(to right, #24207f, rgb(57, 57, 151));
 }

  /***************
* LOCATION - Localização
****************/

.location {
    background-color: var(--color-tertiary);
}

.location .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-header-footer);
    padding: 40px;
    
}

.location .head .info {
    display: flex;
    align-items: center;

}

.location .head .info .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--color-primary);
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    width: 50px;
    margin-right: 15px;

}

.location .head .info .text span {
    display: block;
    font-size: 13px;
}

.location .head .info .text span:first-child {
    color: var(--color-tertiary);
}

.location .head .info .text span:last-child {
    color: var(--color-secondary);
}

.location .map {
    width: 100%;
    
}
.location .container-map {
    padding: 100px;
}
.location .map iframe { 
    width: 100%;

}

 /***************
* FOOTER
****************/

.footer {
    background-color: var(--color-header-footer);
    color: var(--color-secondary);
    text-align: center;
    padding: 40px;
    font-size: 12px;
    width: 100%;
}