:root {
    --color-primary: #13293d;
    --color-secondary:#e8f1f2;
    --color-tertiary: #8b8b8b;
    --color-header-footer: #191919;
    }
 
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
 }

 .header-1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: right;
    background-color: var(--color-header-footer);
    box-shadow: 0 0 30px black;
    top: 0;
    width: 100vw;
    padding: 0 20px;

}

.logo{
    padding:10px;
    color: var(--color-secondary);
}

.header-1 .logo span:first-child {
    letter-spacing: -3px;
    color:#1d52ff;
    margin-left: 5px;
    font-weight: bold;
}

 .header-1 .logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
  
}

.busca {
    text-align: center;
}

.busca input {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 96%;   
    height: 20px;
    width: 300px;
    padding: 15px;
    border: 1px solid var(--color-tertiary);
}

.busca input:focus {
    outline:none;  
}

.users {
  color: var(--color-secondary);
}

.header-2 {
    padding-top: 28px;
    
}

.header-2 ul {
  cursor: pointer;
  color:var(--color-primary);
}

.header-2 .navbar{ 
    text-align: center;
}


.header-2 .navbar ul li {
    display:inline-block;
    margin-left: 18px;
    height: 50px;
}



.navbar ul li a:hover{
  color:var(--color-primary);
  
}

.navbar ul li:hover{
  border-bottom: 3px solid var(--color-primary);
  color:var(--color-primary);
}

 .navbar  ul li button {
  outline: none;
  border: none;
  background-color: white;
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
}

.navbar ul li button:hover {
  color:var(--color-primary);
}



/*li:nth-child(4) {
    pointer-events: none;
}*/

.navbar ul li,
.navbar ul li a {
    color: var(--color-tertiary);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}
 
   .container {
    padding: 120px 100px;
   }
 
   h2 {
    text-transform: uppercase;
   }
 /*
 
 COMPLEMENTARES 
 
 */
 .complementares {
     height: 100vh; 
     background-color: var(--color-primary);
     background-position: right bottom;
     background-size: 300px;
 }
 
 .complementares h2 {
     text-align: center;
     color: var(--color-tertiary);
     font-weight: 400;
     font-size: 50px;
     margin-bottom: 30px;

  }
 
  .complementares h3,
  .complementares p {
    color: var(--color-secondary);
  }

  .complementares p {
    line-height: 1.75;
  }

  .complementares .subtext-2{
    margin-left: 40px;
    
  }
  
  .imp {
    font-weight: bold;
    font-style: italic;
  }
 
  .complementares .imp {
    color: var(--color-tertiary)
  }

  .extensao .imp {
    color: var(--color-primary);
  }

 .complementares .info a {
    color: var(--color-tertiary)

 }
  /*.complementares button {
     background-color: var(--color-secondary);
     padding: 15px 40px;
     color: var(--color-tertiary);
     border: none;
     margin-top: 10px;
     text-transform: uppercase;
     font-weight: bold;
  }
 
  .btns {
    display: flex;
    justify-content: space-between;
 
  }
 
  .btns button:hover {
    background-image: linear-gradient(to right, var(--color-tertiary), rgba(79, 79, 83, 0.281));
    color: var(--color-secondary);
  }
 */

  /*
 
 EXTENSÃO  
 
 */


  .extensao {
    height: 100vh; 
    background-color: var(--color-tertiary);
    background-position: right bottom;
    background-size: 300px;
}

.extensao h2 {
    text-align: center;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
 }

 .complementares h2 {
  text-align: center;
  color: var(--color-tertiary);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 30px;

}

.extensao h3,
.extensao p {
 color: var(--color-secondary);
}

.extensao p {
 line-height: 1.75;
}

.extensao .subtext-2{
 margin-left: 40px;
 
}
 
 .extensao .info a {
  color: var(--color-primary);

}

/*
 .extensao button {
    background-color: var(--color-secondary);
    padding: 15px 40px;
    color: var(--color-tertiary);
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
 }

 .btns {
   display: flex;
   justify-content: space-between;

 }

 .btns button:hover {
   background-image: linear-gradient(to right, var(--color-tertiary), rgba(79, 79, 83, 0.281));
   color: var(--color-secondary);
 }
*/
  
  .footer {
    background-color: var(--color-header-footer);
    color: var(--color-secondary);
    text-align: center;
    padding: 40px;
    font-size: 12px;
    width: 100%
 }